.listContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 5px;
}

.control {
  min-width: 200px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;

  span {
    cursor: pointer;
  }
}

.listItem {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background-color .5s;

  span {
    padding-left: 5px;
  }

  &:hover {
    background-color: rgba(blue, .1);
  }
}

.listItemActive {
  background-color: rgba(blue, .3);
  &:hover {
    background-color: rgba(blue, .3);
  }
}

